.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.title {
  font-size: 45px;
}
.search{
  margin-top: 20px;
  display: inline-block;
  & input{
    padding: 5px;
    width: 100%;
    margin-top: 10px;
  }
}
.participants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 30px;
  margin-top: 30px;
}
.link{
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
  background-color: rgb(25, 118, 210);
  color: #fff;
  padding: 10px 40px;
  border-radius: 10px;
  transition: all 0.2s ease;
  &:hover {
    background-color: rgb(14, 92, 170);
  }
}
